.fc-timeline-slot-cushion {
  text-decoration: none;
  color: var(--bs-body-color);
}

@media (max-width: 500px) {
  .fc-datagrid-cell-main {
    font-size: 0.73em;
  }
  .fc-toolbar-title {
    text-align: center;
  }
}

.fc-datagrid-cell-frame {
  z-index: 0;
}

.fc-resource .fc-icon {
  display: none;
}


.fc-timeline-slot-cushion:hover {
  text-decoration: none;
  color: var(--bs-body-color);
}

.tippy-box {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.roomlink {
  text-decoration: none;
  color: var(--bs-body-color);
}

.date-select {
  padding: 1%;
  z-index: 5;
  position: relative;
}

.date-select svg {
  top: 3.5px;
}